:root {
  --color: black;
  --font-size-pragraph: 1.2vw;
  --font-size-heading: 2vw;
  --font-size-heading-small: 1.5vw;
  --india-tag-font-size: 1.2rem;
  --font-size-link: 1vw;
  --navbar-bg-color: rgb(39, 39, 39);
  --navbar-font-weight: 100;
  --cta-btn-order: 0.5rem 1rem;
  --btn-size: 20px;
  --btn-cta-order-font: 1.5vw;
  --btn-orange: #fea300;

  --color-primary: #2d2926;
  --color-secondary: #35463d;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.job-vacancy-hero-section {
  background-image: url("./front-view-queer-woman-posing-studio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.job-vacancy-content {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 47%;
  background-color: black;
}

.job-vacancy-content > h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
}

.job-vacancy-content > h4 {
  font-size: 1rem;
}

/* ====== job form section ====== */
#job-form {
  padding: 2rem 4rem;
  display: flex;
  gap: 1rem; /* tora jada gap hoga */
}

#job-form > div {
  width: 50%;
  outline: 2px solid red;
}

#job-form-left {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

#job-form-right {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  color: black;
}

#job-form-right > p {
  margin-bottom: 0.4rem;
  font-size: 0.5rem;
}

.input-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

input {
  margin-top: 0.3rem;
  padding-left: 10px;
}

input:focus {
  outline: none;
}

label {
  font-size: 0.9rem;
  color: black;
}

.input-first > input,
.input-second > input {
  width: 90%;
}

.input-details > div {
  width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.single-div {
  margin-bottom: 1rem;
}

.single-div > input,
.single-div > select {
  width: 95%;
}

.single-div > select {
  padding: 0.2rem 0.4rem;
}

input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

#file-drage-drop {
  width: 90%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed black;
}

#file-upload {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#file-upload > p {
  font-size: 0.2rem;
}

button[type="submit"] {
  color: black;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  text-transform: uppercase;
}

/* ====== mobile-screen ====== */
@media screen and (max-width: 783px) {
  #job-form {
    flex-wrap: wrap;
  }

  #job-form > div {
    width: 100%;
  }
}
