@forward "../global";

#orderOnlinePageHeader {
  & > nav {
    background: #2d2926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    position: fixed;
    width: 100%;
    top: 3.2%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > #navbar-logo {
      width: 8%;
      padding-top: 1rem;
    }
  }
}

#order-container {
  background: linear-gradient(#a4a5a6b3, #d9d5ccbc),
    url("/public/assets/orderOnlinePage/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 4rem;
  // margin-top: 4rem;
  margin-bottom: 4rem;
}

#order-container-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;

  & > h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  & > p {
    text-align: center;
    line-height: 1.3;
    font-size: 1.2rem;
  }
}

#Brisbane-forms {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.account-container {
  flex: 1 1 50%;
  padding: 1rem 2.5rem;
  text-align: center;
  border-radius: 10px;
  color: #fff;

  & > h1 {
    margin-bottom: 1rem;
  }
}

#Brisbane-retail-account {
  background-color: #ffa300;
}

.account-cta-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & > a {
    padding: 0.75rem 1rem;
    border-radius: 10px;
    background-color: #d98d30;
    color: #fff;
    font-weight: 500;

    &:hover {
      background-color: red;
    }
  }

  & > .retail-register-btn,
  & > .retail-login-btn {
    background-color: #35463d;

    &:hover {
      background-color: #35463dba;
    }
  }

  & > .trade-register-btn,
  & > .trade-login-btn {
    background-color: #ffa300;
    &:hover {
      background-color: #ffa200cb;
    }
  }
}

#Brisbane-trade-account {
  background-color: #35463d;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#Online-Ordering-Process-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & > h3 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }
}

#Online-Ordering-Process-container {
  margin-bottom: 2rem;
}

@mixin grid-container-for-list($row, $col, $rowgap, $colgap, $width) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  grid-template-rows: repeat($row, 1fr);
  column-gap: $colgap;
  row-gap: $rowgap;
  width: $width;
  margin: 0 auto;
}

.grid-container {
  @include grid-container-for-list(2, 3, 1.5rem, 0.75rem, 80%);
  margin-top: 2rem;

  & > .grid-container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0 0 9px 5.5px #dddddd;
    -moz-box-shadow: 0 0 9px 5.5px #dddddd;
    box-shadow: 0 0 9px 5.5px #dddddd;
    padding: 0.5rem;
    outline: 3px solid #f9a21c;

    & > img {
      width: 40%; 
      transition: all ease-in-out 0.2s;
      cursor: pointer;
      
      &:hover{
        filter: drop-shadow(0px 3px 2px #000000);
      }
    }

    & > span {
      width: 50%;
      text-wrap: pretty;
      text-align: center;
      font-size: 0.6rem;
      font-weight: 700;
      // color: #f9a21c;
      color: orange;
    }
  }
}

@mixin parallex($imageUrl) {
  background-image: linear-gradient(
      rgba(65, 155, 45, 0.731),
      rgba(30, 167, 73, 0.723)
    ),
    url($imageUrl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.process-step-1 {
  @include parallex("../../pages/ascut/asset/background-image.jpg");
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 992px) {
  .account-cta-buttons {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #orderOnlinePageHeader > nav {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    & > #navbar-logo {
      width: 20%;
    }

    & > #navbar-menu {
      display: flex;
      flex-direction: column;
    }
  }
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .account-cta-buttons {
    flex-direction: row;
  }

  .trade-account-conatainer {
    gap: 1rem;
  }

  #Brisbane-forms {
    flex-direction: column;
  }
}

@media (max-width: 600) {
  .account-cta-buttons {
    flex-direction: column;
  }
}
