@forward "../global";

#door-gallery {
  background-color: aqua;
  padding-bottom: 1.5rem;

  & > h1 {
    text-align: center;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
  }

  & > #gallery-card-collections {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(250px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;

    & > .gallery-card {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      & > .gallery-card-image {
        width: 45%;
        transition: all ease-in-out 0.4s;

        &:hover {
          filter: drop-shadow(-2px 13px 8px #000000);
        }
      }
    }
  }

  & > button {
    width: 15%;
    margin: 0 auto;
    padding: 1rem;
    display: block;
    border-radius: 10px;
    outline: none;
    background-color: red;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
}

#footer-image-banner > img {
  width: 100%;
}
