@forward "../global";

#page2 {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  scroll-snap-align: start;
}

.page2-heading {
  color: #000;
  font-size: clamp(1.3rem, 0.7940rem + 2.2550vw, 3.5rem);
  font-weight: 300;
}

.swiper-slide-caption {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  text-align: center;
  color: #000;
  font-size: 18px;
  background-color: rgb(255 255 255 / 50%);
  padding: 10px;
  display: none;
}

.slick-center .swiper-slide-caption {
  display: block;
}

.slick-dots {
  bottom: -10%;
}

.feature-section {
  width: 100%;
  color: white;
  padding-bottom: 7rem;
  background-color: #35463D;
  display: flex;
  flex-direction: column;
  gap: 10vh;
  align-items: center;
  scroll-snap-align: start;
}

.feature-section > h1 {
  font-size: clamp(1.3rem, 0.7940rem + 2.2550vw, 3.5rem);
  text-transform: capitalize;
  text-align: center;
  margin-top: 2.5rem;
  font-weight: 300;
}

.feature-blocks {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 5vw;
  flex-shrink: 2;
  gap: minmax(1fr, 3rem);
}

.feature-single-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.feature-blocks > .feature-single-block > #feature-single-mnumoic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}

.feature-single-block > p {
  font-size: clamp(0.75rem, 0.6350rem + 0.5125vw, 1.25rem);
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  text-wrap: stable;
}

/* ----- Feature section end ----- */

@media (max-width:1200px) {
  .feature-blocks{
    width: 100%;
    gap: 1rem;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  
}