footer {
  background-color: #2d2827;
  padding: 1rem 4rem;
  color: white;
}

#footer-top-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;

  & > #footer-top-psm-about > p {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

#footer-top-addess1,
#footer-top-addess2 {
  display: flex;
  flex-direction: column;

  & > a {
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 300;
  }

  & > span {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    font-weight: 300;
  }
}

#footer-bottom-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 1rem;
  padding-top: 1rem;

  & > p {
    font-size: 0.65rem;
    font-weight: 500;
  }
}


#footer-bottom-social-media > ul {
  display: flex;
  gap: 0.8rem;

  & > li > a {
    font-size: 0.65rem;
    background-color: black;
    border-radius: 50%;
    padding: 0.5rem;

    &:hover {
      background-color: #505050;
    }
  }
}

#footer-top-additional-links > ul {
  padding-left: 0;
  margin-top: 0;
  & > li > a {
    font-size: 0.8rem;
    font-weight: 300;
  }
}
#footer-australian-made-logo {
  width: 30%;
  object-fit: cover;
}

#footer-bottom-disclaimer > p {
  font-size: 0.68rem;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  #footer-bottom-container {
    margin-top: 1rem;
  }
}

@media (max-width: 992px) {
  #footer-top-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  #footer-bottom-container {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  #footer-bottom-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 600px) {
  footer{
    padding: 1rem 2rem;
  }
}
