footer {
  background-color: #000;
  color: white;
  padding: 2.3rem 4.2rem 1rem;
  display: flex;
  flex-direction: column;

  & > hr {
    width: 100%;
  }
}

#footer-top {
  display: flex;
  gap: 1rem;
}

#footer-top-left-contents {
  flex: 1 1 80%;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
}

#footer-links {
  display: flex;
  gap: 2rem;
}

#footer-link-container > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 5px;

  & > a {
    color: white;
  }
}

#asutralian-certificate {
  height: 70%;
  // max-height: 60%;
  width: 20% !important;
}

#footer-top-right-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;

  & > input,
  & > textarea {
    padding: 0.5rem 1rem;
    color: black !important;
  }

  & > textarea {
    height: 74px;
    margin-bottom: 10px;
  }

  & > button[type="submit"] {
    padding: 0.5rem 1rem;
    text-align: center;
    color: black;
    cursor: pointer;

    &:hover {
      background-color: red;
      color: #fff;
    }
  }
}

// #footer-top-right-form > input,
// #footer-top-right-form > textarea {
//   padding: 0.5rem 1rem;
//   color: black !important;
// }

input:focus,
textarea:focus {
  outline: none;
}

// #footer-top-right-form > textarea {
//   height: 74px;
//   margin-bottom: 10px;
// }

// #footer-top-right-form > button[type="submit"] {
//   padding: 0.5rem 1rem;
//   text-align: center;
//   color: black;
//   cursor: pointer;
// }

// #footer-top-right-form > button[type="submit"]:hover {
//   background-color: red;
//   color: #fff;
// }

#footer-bottom {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

#footer-logos {
  display: flex;
  height: 3rem;

  & > img {
    height: 100%;
  }
}

// #footer-logos > img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
//   margin-right: 10px;
// }

#footer-Privacy-Policy-content {
  width: 45%;

  & > p {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    //     margin-bottom: 10px;
    //   font-size: 15px;
  }
}

// #footer-Privacy-Policy-content > p {
//   margin-bottom: 10px;
//   font-size: 15px;
// }
