@forward "../global";

#retail_register_page {
  @extend %navbar-order-online-container; // global boilerplate
  color: black;
}

.just-validate-error-label{
  font-size: 13px !important;
  background-color:rgb(153 56 56 / 26%) !important;
    padding: 3px 6px !important;
}

%form_container {
  color: black;
}

.registeration_form {
  @extend %form_container;

  & > form {
    display: flex;
    flex-direction: column;
    outline: 1px solid;
    width: 60%;
    margin: auto;
    gap: 1rem;
    padding: 1rem 2rem;

    & > #input_field {
      display: flex;
      flex-direction: column;
      width: 100%;

      & > input,
      & > select,
      & > option {
        background-color: #e6e6e6;
        border: none;
      }

      & > p {
        margin-top: 4px;
        padding: 1px 2px;
        font-size: 12px;
        color: #e04562;
        background-color: #f9e4e8;
      }
    }

    & > .bussiness_details {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    & > .bussiness_details_para {
      font-size: 0.65rem;
      margin-bottom: 1rem;
    }

    & > hr {
      margin: 0;
      margin-bottom: .5rem;
      color: black;
    }
    & > button[type="submit"] {
      @extend %submit-button;
    }
  }
}



.registeration_form {
  margin-top: 7rem;
  margin-bottom: 5rem;

  & > h3 {
    font-size: clamp(1.75rem, 1.3462rem + 1.7949vw, 3.5rem);
    text-align: center;
    padding-bottom: 1.5rem;
  }
}

.radio-btn-control{
  padding: 2px 0px;
}

.checkbox-btn-control{
  padding: 4px 0px;
}

@media screen and (max-width: 768px) {
  .registeration_form > form {
    width: 80%;
  }
}
