// @import "../global/variables";
@use "../global/variables";

/* ====== Feature Section ====== */
.feature-section {
  color: white;
  width: 100%;
  background-color: #35463d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  scroll-snap-align: start;
  padding: 2rem;
  gap: 2rem;

  & > h2 {
    // font-size: 2rem;
    // font-size: clamp(1.5rem, 1.3846rem + 0.5128vw, 2rem);
    font-size: variables.$heading-fontSize;
    text-transform: capitalize;
    font-weight: variables.$heading-fontWeight;
    // font-size: 38px;
    text-align: center;
    line-height: 140%;
  }

  .feature-blocks {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .feature-single-block {
      width: 33.33%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 0.75rem;
      margin-bottom: 1.5rem;
    }

    img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      background-color: #fff;
      object-fit: cover;
    }

    p {
      font-size: 16px;
      text-transform: capitalize;
      text-align: center;
      font-weight: 300;
      line-height: 140%;
    }
  }
}

.feature-blocks > .feature-single-block > #block {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
}

.feature-single-block > h1 {
  font-size: large;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
  text-wrap: stable;
}

/* ----- Feature section end ----- */

@media screen and (max-width: 525px) {
  /* ====== Feature Section ====== */
  .feature-section {
    height: 100%;
    padding: 2rem 1.5rem;

    & > h1 {
      margin-bottom: 1.5rem;
      font-size: 32px;
    }

    .feature-blocks {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem 1rem;

      .feature-single-block {
        width: calc(50% - 1.5rem);
        gap: 0.75rem;
      }
    }
  }
}
