.swiper {
  width: 100%;
  height: 80vh;
  padding-top: 5.48rem;
}

.swiper-slide {
  background-position: center;
  background-size: contain;

  & > .swiper-slide-content-wrapper {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
    height: 100%;
    // font-size: large;
    color: white;

    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    // border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    & > .swiper-slide-content {
      position: absolute;
      top: 35%;
      left: 10%;
      padding: 1rem;
      width: 80%;
      color: rgb(0, 0, 0);

      & > h1 {
        font-size: clamp(1rem, 0.77rem + 1.025vw, 2rem);
        margin-bottom: 1rem;
      }
    }
  }

  & > .swiper-slide-image {
    display: block;
    width: 100%;
    height: 80vh;
  }
}

// for icons
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: clamp(1rem, 0.5962rem + 1.7949vw, 2.75rem);
  color: orange;
}

/* ====== Sticker ====== */
#sticker {
  position: absolute;
  text-align: end;
  z-index: 90;
  width: calc(100vw / 5 );
  top: 10vw;
  right: 10vw;
}

/* ====== Sticker End ====== */

@media (max-width: 768px) {
  .swiper-slide > .swiper-slide-content {
    width: 100%;
    height: 30%;
    top: 0;
  }
}

@media (max-width: 600px) {
  .swiper-slide > .swiper-slide-image {
    height: 60vh;
  }

  .swiper-slide > .swiper-slide-content-wrapper {
    height: 11rem !important;
    bottom: 0;
    width: 100% !important;
    bottom: -1px;
    top: unset;

    & > .swiper-slide-content {
      padding: 1rem 2rem;
      left: 0;
      top: 0;
      text-align: center;
      width: 100%;
    }
  }

  #sticker {
   width: calc(100vw / 3);
    top: 20%;
    left: 40%;
    
  }
}
