/* ======"setting the standard","Building timeless elegance"  ====== */
// #setting-standard,
// #building-timeless {
//   height: 100vh;
//   color: white;
//   width: 100%;

// }

// .personalised-styles-bg {
//   background-color: #314036;
// }

.setting-standard-bg {
  background-image: url("/public/assets/3rd-img.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

// #setting-standard-content {
//   position: absolute;
//   width: 50vw;
//   left: 6vw;
//   bottom: 20%;
// }

// #building-timeless-content {
//   position: absolute;
//   top: 24%;
//   left: 60%;
//   width: fit-content;
// }

// .setting-standard-heading,
// .building-timeless-heading {
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   font-weight: 600;
//   line-height: normal;
// }

// .building-timeless-heading {
//   font-size: 1.5rem;
//   text-transform: uppercase;
//   font-weight: 600;
// }

// .setting-standard-para,
// .building-timeless-para {
//   margin-top: 2vh;
//   line-height: 1.1;
//   width: 70%;
//   font-size: 0.8rem;
// }

#personalised-styles {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url("/public/assets/2nd-image.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & > #personalised-styles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;

    & > .personalised-styles-heading {
      margin-bottom: 2vh;
    }

    & > .personalised-styles-para {
      width: 60%;
    }
  }
}

#quick-fit-solution {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url("/public/assets/3rd-img.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & > #quick-fit-solution-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;

    & > .quick-fit-solution-heading {
      margin-bottom: 2vh;
      width: 60%;
    }

    & > ol {
      padding-left: 1rem;
    }
  }
}

/* ----- orange craft Section end ----- */

@media (max-width: 600px) {
  #personalised-styles > #personalised-styles-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #quick-fit-solution > #quick-fit-solution-content {
    padding-left: 2rem;
    padding-right: 2rem;

    & > .quick-fit-solution-heading {
      width: 100%;
    }
  }
}
