#personalised-styles {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url("/public/assets/Home_page/2nd-image.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & > #personalised-styles-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;

    & > .personalised-styles-heading {
      margin-bottom: 2vh;
    }

    & > .personalised-styles-para {
      width: 60%;
    }
  }
}

#quick-fit-solution {
  display: flex;
  color: white;
  height: 100vh;
  background-image: url("/public/assets/Home_page/3rd-img.webp");
  background-repeat: no-repeat;
  background-size: cover;

  & > #quick-fit-solution-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;

    & > .quick-fit-solution-heading {
      margin-bottom: 2vh;
      width: 60%;
    }

    & > ol {
      padding-left: 1rem;
    }
  }
}

/* ----- orange craft Section end ----- */

@media (max-width: 600px) {
  #personalised-styles > #personalised-styles-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #quick-fit-solution > #quick-fit-solution-content {
    padding-left: 2rem;
    padding-right: 2rem;

    & > .quick-fit-solution-heading {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  #personalised-styles {
    background-image: url("/public/assets/Home_page/2nd-image-small.webp");
  }
  #quick-fit-solution {
    background-image: url("/public/assets/Home_page/3rd-image-small.webp");
  }
}

@media (max-width: 550px) {
  #personalised-styles {
    background-image: url("/public/assets/Home_page/2nd-image-extra-small.webp");
  }
  #quick-fit-solution {
    background-image: url("/public/assets/Home_page/3rd-image-extra-small.webp");
  }
}
